#!/usr/bin/env python
# -*- coding: utf-8 -*-

# по умолчанию блокируем запуск скрипта добавления пользователя в домен и в почту:
allow_add_users = False

LDAP_SERVER = "ldaps://domaincontroller.company.ru:636"
BIND_DN = "admin_login@company.ru"
BIND_PASS = "admin_passwd"
domain="company.ru"
base_user_dn="OU=340,OU=Users,OU=Domain Root Entry,DC=company,DC=ru"
base_comp_dn="OU=340,OU=Comps,OU=Domain Root Entry,DC=company,DC=ru"

group_acl_base="OU=340,OU=ACLG,OU=Groups,OU=Domain Root Entry,DC=company,DC=ru"
group_rbl_base="OU=340,OU=RBLG,OU=Groups,OU=Domain Root Entry,DC=company,DC=ru"

default_groups={"filial":{"name":u"Филиал «Приморские ЭС», Аппарат управления","groups":["ACL_GROUP-RDPU", "ACL_GROUP-00"]},"ues":{"name":u"Филиал «Приморские ЭС», СП Южные ЭС","groups":["ACL_GROUP-RDPU", "ACL_GROUP-00"]}} 

email_server1_domain="company.ru"
email_server2_domain="domain2.company.ru"

db_email_server1_host="email1.server"
db_email_server1_name="email1.server"
db_email_server1_user="email1_db_user"
# в случае None - скрипт не будет добавлять пользователя в базу почтовика:
db_email_server1_passwd=None

db_email_server2_host="email2.server"
db_email_server2_name="email2.server"
db_email_server2_user="email2_db_user"
# в случае None - скрипт не будет добавлять пользователя в базу почтовика:
db_email_server2_passwd=None

user_list_db_host="dbhost.company.ru"
user_list_db_name="users_ad_list_db"
user_list_db_user="users_ad_list_user"
user_list_db_passwd="secretpwd"

user_phone_db_host="dbhost.company.ru"
user_phone_db_name="users_ad_phone_db"
user_phone_db_user="users_ad_phone_user"
user_phone_db_passwd="secretpwd"

send_report_to=["admin1@company.ru", "admin2@company.ru"]
send_report_from="admin@company.ru"

#========= Global ===========
log_path="/var/log/add_user_to_ad.log"
# how match keep backup log files:
log_backup_count=30
# can be:
# 'S' - Seconds
# 'M' - Minutes
# 'H' - Hours
# 'D' - Days
# 'W0'-'W6' - Weekday (0=Monday)
# 'midnight' - Roll over at midnight
log_backup_when='midnight'
debug=True
# отладка в консоли:
console=False
