#!/usr/bin/env python
# -*- coding: utf-8 -*-

LDAP_SERVER = "ldaps://domaincontroller.company.ru:636"
BIND_DN = "admin_login@company.ru"
BIND_PASS = "admin_passwd"
domain="company.ru"
base_user_dn="OU=340,OU=Users,OU=Domain Root Entry,DC=company,DC=ru"
base_comp_dn="OU=340,OU=Comps,OU=Domain Root Entry,DC=company,DC=ru"

group_acl_base="OU=340,OU=ACLG,OU=Groups,OU=Domain Root Entry,DC=company,DC=ru"
default_acl_groups=["ACL_GROUP-RDPU", "ACL_GROUP-00"]

email_server1_postfix="@company.ru"
email_server2_postfix="@domain2.company.ru"

db_email_server1_host="email1.server"
db_email_server1_name="email1.server"
db_email_server1_user="email1_db_user"
db_email_server1_passwd="email1_db_passwd"

db_email_server2_host="email2.server"
db_email_server2_name="email2.server"
db_email_server2_user="email2_db_user"
db_email_server2_passwd="email2_db_passwd"

user_list_db_host="dbhost.company.ru"
user_list_db_name="users_ad_list_db"
user_list_db_user="users_ad_list_user"
user_list_db_passwd="secretpwd"


# выбор филиала в виде radiobuttom:
ou={}
ou["filial1"]=u"Компания Филиал1"
ou["filial2"]=u"Компания Филиал2"

#DEBUG=True
DEBUG=False
log="/var/log/add_user_to_ad.log"
